header{position: fixed;top: 0;left: 0;width: 100%;display: flex;justify-content: space-between;align-items: center;transition: 0.6s;padding: 0.6rem 1rem;z-index: 10;box-shadow: -9px 2px 28px -19px #111;}
header.sticky{padding: 5px 100px;background: #fff;}

/**Menu**/
.flick-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.nav-list .menu-li a {
    text-decoration: none;
}
.logo .img-logo img {
    width: 7rem;
}
.light-logo {
    display: none;
}
.control-box {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
.theme-mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    cursor: pointer;
}
.dark-mode {
    display: none;
}
.menu-act {
    padding: 0 6px;
    display: none;
    cursor: pointer;
}
.menu-act .bi-list {
    font-size: 24px;
}
.menu-li {
    padding: 10px 0;
}
.menu-li a {display: block;}
.theme-mode.dark_mode .light-mode {display: none;}
.theme-mode.dark_mode .dark-mode {display: block;}
.head-logo .hide{display:none;}

@media screen and (max-width:768px){ /*Ipad media query*/
    .menu-act {display: block;}
    .flick-nav{position: relative;}
    .nav-bar {position: absolute;right: 0;width: 45%; top: 52px;right: -50%;transition: all 1s ease;}
    .nav-bar ul.nav-list { display: flex; flex-direction: column;height: 100vh;justify-content: flex-start;gap:0px;box-shadow: -9px -3px 19px -19px #111;}
    .nav-bar.act-drawer {right: 0;}
    .menu-li {width: 100%;cursor: pointer;padding-left: .8rem;border-bottom: 1px solid #ccc;}
}